Backup_2026-03-30 17:06/Job-Watcher.json
{
  "updatedAt": "2026-03-30T09:20:16.065Z",
  "createdAt": "2026-03-01T20:00:07.311Z",
  "id": "cxXh6EupdPhrcaHd",
  "name": "Job-Watcher",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "date-assign",
              "name": "check_date",
              "value": "={{ $now.minus({days: 1}).toFormat('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "370f71d9-9d27-499b-b4dc-8530f00c9b8d",
      "name": "Calculate Yesterday",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// ⬇️ CONFIGURATION: Add your Job Task Names here ⬇️\nreturn [\n  {\n    json: {\n      friendlyName: \"Jubilee Cashless Claims\",\n      taskName: \"apps.ipd.utils.fetch_jubilee_cashless_claims\"\n    }\n  },\n  {\n    json: {\n      friendlyName: \"Pak Qatar Cashless Claims\",\n      taskName: \"apps.ipd.utils.fetch_pqt_cashless_claims\"\n    }\n  },\n  {\n    json: {\n      friendlyName: \"TPL Cashless Claims\",\n      taskName: \"apps.ipd.utils.fetch_tpl_cashless_claims\"\n    }\n  },\n  {\n    json: {\n      friendlyName: \"Schedule Employee Deletion\",\n      taskName: \"apps.smartbenefits.app.hr.tasks.employee_schedule_deletion\"\n    }\n  },\n  {\n    json: {\n      friendlyName: \"Schedule Employee Addition\",\n      taskName: \"apps.smartbenefits.app.hr.tasks.employee_schedule_addition\"\n    }\n  },\n  {\n    json: {\n      friendlyName: \"Employee Provident Fund\",\n      taskName: \"apps.provident_fund.tasks.update_employee_pf_activity\"\n    }\n  },\n  {\n    json: {\n      friendlyName: \"Fetch/Update All Employees Daily Jubilee Card\",\n      taskName: \"apps.smartbenefits.tasks.update_all_employee_product_plan_with_card_no\"\n    }\n  },\n  {\n    json: {\n      friendlyName: \"Employee Fetch/Update Jubilee Premium\",\n      taskName: \"apps.ipd.utils.fetch_jubilee_premuim\"\n    }\n  },\n  {\n    json: {\n      friendlyName: \"Limit Per Employee Pool - Monthly Limit TopUp\",\n      taskName: \"apps.opd.tasks.update_employees_monthly_opd_limits\"\n    }\n  },\n  {\n    json: {\n      friendlyName: \"Threshold Notification Job\",\n      taskName: \"apps.opd.utils.threshold_email_notification_task\"\n    }\n  },\n  {\n    json: {\n      friendlyName: \"Quaterly Email Report Send to HR's\",\n      taskName: \"apps.smartbenefits.tasks.send_quarterly_usage_report_to_hrs\"\n    }\n  },\n  {\n    json: {\n      friendlyName: \"Update Panel Hospital List\",\n      taskName: \"apps.smartbenefits.tasks.update_our_panel_hospital_list_daily\"\n    }\n  }\n];"
      },
      "id": "7ea70657-2d16-4c37-8549-d482208be032",
      "name": "Config: Define Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        0
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1
            }
          ]
        }
      },
      "id": "e338321e-3881-48f7-ab2a-51469270be0c",
      "name": "Daily Trigger for All Jobs",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1
            }
          ]
        }
      },
      "id": "6b49b173-9885-41e1-b194-40a65e6d816d",
      "name": "Daily Trigger for Card Job",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        608,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// Map the input data to your specific parameters\nreturn $input.all().map(item => {\n    const data = item.json;\n    return {\n        EmpID: data.employee_id || 'N/A',\n        EmpName: data.first_name || 'N/A',\n        EmpCNIC: data.cnic || 'N/A',\n        EmpCorporate: data.corporate || 'N/A',\n        EmpPolicyNumber: data.policy_number || 'N/A',\n        EmpPolicyStart: data.policy_start || 'N/A',\n        EmpPolicyEnd: data.policy_end || 'N/A'\n    };\n});"
      },
      "id": "d979cfe1-2663-4e31-9425-31b87bb9f18b",
      "name": "Analyze the Card Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        240
      ],
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * \nFROM celery_result_taskresult\nWHERE task_name = '{{ $json.taskName }}' \nAND date_done LIKE '%{{ $('Calculate Yesterday').first().json.check_date }}%'\nORDER BY date_done DESC \nLIMIT 1;",
        "options": {}
      },
      "id": "7e9ba4b5-a0b7-4ced-a619-bb060c70381c",
      "name": "Fetch All Jobs Data",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1024,
        0
      ],
      "alwaysOutputData": true,
      "retryOnFail": false,
      "credentials": {
        "mySql": {
          "id": "p2YO8Qyi1VhgVX0V",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "39893114-1bcf-4cd9-9118-0f8349665d36",
      "name": "Loop All Jobs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        816,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const jobInfo = $('Loop All Jobs').item.json;\n\nconst dbResult = items.map(i => i.json);\n\nlet status = \"MISSING\";\nlet details = \"Job did not run (No data found for this date).\";\nlet isError = true;\n\nif (dbResult.length > 0 && dbResult[0].task_name) {\n  const row = dbResult[0];\n  \n  if (row.status === 'SUCCESS') {\n    status = \"SUCCESS\";\n    details = \"Job completed successfully.\";\n    isError = false;\n  } \n  else {\n    status = \"FAILED\";\n    const tracebackSnippet = row.traceback ? row.traceback.substring(0, 200) + '...' : 'No traceback available';\n    \n    details = `⚠️ *Status:* ${row.status}\\n` +\n              `📄 *Result:* ${row.result || 'NULL'}\\n` +\n              `🐞 *Traceback:* ${tracebackSnippet}\\n` +\n              `🔧 *Args:* ${row.task_args}\\n` +\n              `⚙️ *Kwargs:* ${row.task_kwargs}`;\n    isError = true;\n  }\n} \n\nreturn [{\n  json: {\n    jobName: jobInfo.friendlyName,\n    taskName: jobInfo.taskName,\n    status: status,\n    details: details,\n    isError: isError\n  }\n}];"
      },
      "id": "54013176-d70e-4d7b-a3d4-cb67adc2ca73",
      "name": "Analyze All Jobs Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const results = items.map(item => item.json);\nlet errors = results.filter(job => job.isError);\nlet successes = results.filter(job => !job.isError);\nlet checkDate = $('Calculate Yesterday').first().json.check_date;\nlet message = \"\";\nlet outputItems = [];\n\n\nif (errors.length > 0) {\n\n    message = `🚨 *CRITICAL ETL REPORT* 🚨\\n*Date:* ${checkDate}\\n\\n`;\n    \n    message += `*--- ❌ FAILURES (${errors.length}) ---*\\n`;\n    errors.forEach(err => {\n        \n        if (err.status === 'MISSING') {\n            message += `• *MISSING:* ${err.jobName}\\n> Job data not found for ${checkDate}.\\n`;\n        } else {\n            message += `• *FAILED:* ${err.jobName} [Status: ${err.status}]\\n>${err.details.replace(/\\n/g, '\\n> ')}\\n`;\n        }\n        message += `\\n`;\n    });\n\n    outputItems.push({\n        json: {\n            text: message,\n            hasErrors: true\n        }\n    });\n\n}\n\nreturn outputItems;"
      },
      "id": "061c103a-6f29-4419-ae1c-524fcee09c3f",
      "name": "Build All Jobs Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        0
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09UUBDSG5P",
          "mode": "list",
          "cachedResultName": "celery-watcher"
        },
        "text": "={{ $json.text }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1568,
        0
      ],
      "id": "86dd93c9-82fe-4646-97da-6d55094a0eba",
      "name": "Send All Jobs Message",
      "webhookId": "4adbdeb4-ea3d-4116-ba62-590665017417",
      "credentials": {
        "slackApi": {
          "id": "tEzLAPd4cdYwh2Hu",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select \n  sep.employee_id, \n  sc.name as 'corporate', \n  si.name as 'insurer', \n  se.first_name,\n  se.cnic,\n  sep.policy_start, \n  sep.policy_end, \n  sep.card_no, \n  sep.created_date,\n  scpp.policy_number, \n  scpp.parental_policy_number \nfrom smartbenefits_employee_product sep\njoin smartbenefits_health_plan shp on shp.id = sep.plan_id\njoin smartbenefits_insurer si on si.id = shp.insurer_id\njoin smartbenefits_employee se on se.id = sep.employee_id\njoin smartbenefits_corporate sc on sc.id = se.corporate_id\njoin smartbenefits_corporate_product_plan scpp on scpp.id = sep.corporate_plan_id\nwhere \n  sep.product_id = 2 \n  and si.id = 1\n  and sc.id <> 34\n  and sep.created_date < DATE_SUB(NOW(), INTERVAL 7 DAY) \n  and sep.card_no is null \n  and sep.policy_start < now() \n  and sep.policy_end > now()\norder by 1 desc",
        "options": {}
      },
      "id": "8b3ab27b-53a3-4698-a951-c328ede567b2",
      "name": "Fetch Card Data",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        800,
        240
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "mySql": {
          "id": "p2YO8Qyi1VhgVX0V",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "binaryPropertyName": "card_employee_records.csv",
        "options": {
          "fileName": "card_employee_records",
          "initialComment": "={{ $('Analyze the Card Logic').all().length }} Employee's Card Number is not Available"
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1392,
        240
      ],
      "id": "8da9a443-f3a9-4ff5-bee5-f02608d29aa5",
      "name": "Send Card Jobs Message",
      "webhookId": "4adbdeb4-ea3d-4116-ba62-590665017417",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "slackApi": {
          "id": "tEzLAPd4cdYwh2Hu",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "binaryPropertyName": "card_employee_records.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1216,
        240
      ],
      "id": "12f18848-3e4c-484d-8cf1-6d3e0b8f11a7",
      "name": "Convert to File"
    }
  ],
  "connections": {
    "Calculate Yesterday": {
      "main": [
        [
          {
            "node": "Config: Define Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config: Define Jobs": {
      "main": [
        [
          {
            "node": "Loop All Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Trigger for All Jobs": {
      "main": [
        [
          {
            "node": "Calculate Yesterday",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Trigger for Card Job": {
      "main": [
        [
          {
            "node": "Fetch Card Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Jobs Data": {
      "main": [
        [
          {
            "node": "Analyze All Jobs Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop All Jobs": {
      "main": [
        [],
        [
          {
            "node": "Fetch All Jobs Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze All Jobs Logic": {
      "main": [
        [
          {
            "node": "Build All Jobs Report",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop All Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build All Jobs Report": {
      "main": [
        [
          {
            "node": "Send All Jobs Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send All Jobs Message": {
      "main": [
        []
      ]
    },
    "Fetch Card Data": {
      "main": [
        [
          {
            "node": "Analyze the Card Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze the Card Logic": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Send Card Jobs Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Daily Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5ee58389-b105-4a3c-9bb4-a8addc291906",
  "activeVersionId": "11d02e77-520e-4bde-8e3a-772f4a4a9251",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-01T20:00:07.317Z",
      "createdAt": "2026-03-01T20:00:07.317Z",
      "role": "workflow:owner",
      "workflowId": "cxXh6EupdPhrcaHd",
      "projectId": "1KoM0NN3xU52WnYD"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-01T20:20:17.000Z",
    "createdAt": "2026-03-01T20:18:15.395Z",
    "versionId": "11d02e77-520e-4bde-8e3a-772f4a4a9251",
    "workflowId": "cxXh6EupdPhrcaHd",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 1
              }
            ]
          }
        },
        "id": "e338321e-3881-48f7-ab2a-51469270be0c",
        "name": "Daily Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.1,
        "position": [
          176,
          0
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "date-assign",
                "name": "check_date",
                "value": "={{ $now.minus({days: 1}).toFormat('yyyy-MM-dd') }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "370f71d9-9d27-499b-b4dc-8530f00c9b8d",
        "name": "Calculate Yesterday",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          384,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "// ⬇️ CONFIGURATION: Add your Job Task Names here ⬇️\nreturn [\n  {\n    json: {\n      friendlyName: \"Jubilee Cashless Claims\",\n      taskName: \"apps.ipd.utils.fetch_jubilee_cashless_claims\"\n    }\n  },\n  {\n    json: {\n      friendlyName: \"Pak Qatar Cashless Claims\",\n      taskName: \"apps.ipd.utils.fetch_pqt_cashless_claims\"\n    }\n  },\n  {\n    json: {\n      friendlyName: \"TPL Cashless Claims\",\n      taskName: \"apps.ipd.utils.fetch_tpl_cashless_claims\"\n    }\n  },\n  {\n    json: {\n      friendlyName: \"Schedule Employee Deletion\",\n      taskName: \"apps.smartbenefits.app.hr.tasks.employee_schedule_deletion\"\n    }\n  },\n  {\n    json: {\n      friendlyName: \"Schedule Employee Addition\",\n      taskName: \"apps.smartbenefits.app.hr.tasks.employee_schedule_addition\"\n    }\n  },\n  {\n    json: {\n      friendlyName: \"Employee Provident Fund\",\n      taskName: \"apps.provident_fund.tasks.update_employee_pf_activity\"\n    }\n  },\n  {\n    json: {\n      friendlyName: \"Employee Fetch/Update Daily Jubilee Card\",\n      taskName: \"apps.smartbenefits.tasks.update_latest_employee_product_plan_with_card_no\"\n    }\n  },\n  {\n    json: {\n      friendlyName: \"Employee Fetch/Update Jubilee Premium\",\n      taskName: \"apps.ipd.utils.fetch_jubilee_premuim\"\n    }\n  },\n  {\n    json: {\n      friendlyName: \"Limit Per Employee Pool - Monthly Limit TopUp\",\n      taskName: \"apps.opd.tasks.update_employees_monthly_opd_limits\"\n    }\n  },\n  {\n    json: {\n      friendlyName: \"Threshold Notification Job\",\n      taskName: \"apps.opd.utils.threshold_email_notification_task\"\n    }\n  },\n  {\n    json: {\n      friendlyName: \"Quaterly Email Report Send to HR's\",\n      taskName: \"apps.smartbenefits.tasks.send_quarterly_usage_report_to_hrs\"\n    }\n  },\n  {\n    json: {\n      friendlyName: \"Update Panel Hospital List\",\n      taskName: \"apps.smartbenefits.tasks.update_our_panel_hospital_list_daily\"\n    }\n  }\n];"
        },
        "id": "7ea70657-2d16-4c37-8549-d482208be032",
        "name": "Config: Define Jobs",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          576,
          0
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "39893114-1bcf-4cd9-9118-0f8349665d36",
        "name": "Loop Jobs",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          800,
          0
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT * \nFROM celery_result_taskresult\nWHERE task_name = '{{ $json.taskName }}' \nAND date_done LIKE '%{{ $('Calculate Yesterday').first().json.check_date }}%'\nORDER BY date_done DESC \nLIMIT 1;",
          "options": {}
        },
        "id": "7e9ba4b5-a0b7-4ced-a619-bb060c70381c",
        "name": "MySQL: Fetch Job Data",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          1024,
          0
        ],
        "alwaysOutputData": true,
        "retryOnFail": false,
        "credentials": {
          "mySql": {
            "id": "p2YO8Qyi1VhgVX0V",
            "name": "MySQL account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const jobInfo = $('Loop Jobs').item.json;\n\nconst dbResult = items.map(i => i.json);\n\nlet status = \"MISSING\";\nlet details = \"Job did not run (No data found for this date).\";\nlet isError = true;\n\nif (dbResult.length > 0 && dbResult[0].task_name) {\n  const row = dbResult[0];\n  \n  if (row.status === 'SUCCESS') {\n    status = \"SUCCESS\";\n    details = \"Job completed successfully.\";\n    isError = false;\n  } \n  else {\n    status = \"FAILED\";\n    const tracebackSnippet = row.traceback ? row.traceback.substring(0, 200) + '...' : 'No traceback available';\n    \n    details = `⚠️ *Status:* ${row.status}\\n` +\n              `📄 *Result:* ${row.result || 'NULL'}\\n` +\n              `🐞 *Traceback:* ${tracebackSnippet}\\n` +\n              `🔧 *Args:* ${row.task_args}\\n` +\n              `⚙️ *Kwargs:* ${row.task_kwargs}`;\n    isError = true;\n  }\n} \n\nreturn [{\n  json: {\n    jobName: jobInfo.friendlyName,\n    taskName: jobInfo.taskName,\n    status: status,\n    details: details,\n    isError: isError\n  }\n}];"
        },
        "id": "54013176-d70e-4d7b-a3d4-cb67adc2ca73",
        "name": "Analyze Logic",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          0
        ]
      },
      {
        "parameters": {
          "jsCode": "const results = items.map(item => item.json);\nlet errors = results.filter(job => job.isError);\nlet successes = results.filter(job => !job.isError);\nlet checkDate = $('Calculate Yesterday').first().json.check_date;\nlet message = \"\";\nlet outputItems = [];\n\n\nif (errors.length > 0) {\n\n    message = `🚨 *CRITICAL ETL REPORT* 🚨\\n*Date:* ${checkDate}\\n\\n`;\n    \n    message += `*--- ❌ FAILURES (${errors.length}) ---*\\n`;\n    errors.forEach(err => {\n        \n        if (err.status === 'MISSING') {\n            message += `• *MISSING:* ${err.jobName}\\n> Job data not found for ${checkDate}.\\n`;\n        } else {\n            message += `• *FAILED:* ${err.jobName} [Status: ${err.status}]\\n>${err.details.replace(/\\n/g, '\\n> ')}\\n`;\n        }\n        message += `\\n`;\n    });\n\n    outputItems.push({\n        json: {\n            text: message,\n            hasErrors: true\n        }\n    });\n\n} \n\nconsole.log(outputItems)\n\nreturn outputItems;"
        },
        "id": "061c103a-6f29-4419-ae1c-524fcee09c3f",
        "name": "Build Report",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1392,
          0
        ],
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C09UUBDSG5P",
            "mode": "list",
            "cachedResultName": "celery-watcher"
          },
          "text": "={{ $json.text }}",
          "otherOptions": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          1568,
          0
        ],
        "id": "86dd93c9-82fe-4646-97da-6d55094a0eba",
        "name": "Send a message",
        "webhookId": "4adbdeb4-ea3d-4116-ba62-590665017417",
        "credentials": {
          "slackApi": {
            "id": "tEzLAPd4cdYwh2Hu",
            "name": "Slack account"
          }
        }
      }
    ],
    "connections": {
      "Daily Trigger": {
        "main": [
          [
            {
              "node": "Calculate Yesterday",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calculate Yesterday": {
        "main": [
          [
            {
              "node": "Config: Define Jobs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Config: Define Jobs": {
        "main": [
          [
            {
              "node": "Loop Jobs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Jobs": {
        "main": [
          [],
          [
            {
              "node": "MySQL: Fetch Job Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MySQL: Fetch Job Data": {
        "main": [
          [
            {
              "node": "Analyze Logic",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze Logic": {
        "main": [
          [
            {
              "node": "Build Report",
              "type": "main",
              "index": 0
            },
            {
              "node": "Loop Jobs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Report": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message": {
        "main": [
          []
        ]
      }
    },
    "authors": "N8N Smartbenefits",
    "name": "celery-v1",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2026-03-01T20:00:24.124Z",
      "createdAt": "2026-03-01T20:00:24.124Z",
      "id": "HdzMoq8bCjgbtI4Z",
      "name": "Celery"
    }
  ]
}