Backup_2026-03-30 17:06/N8N Backups.json
{
  "updatedAt": "2026-03-30T12:06:18.797Z",
  "createdAt": "2026-03-30T11:19:06.233Z",
  "id": "quGjeVuoArjI8R1f",
  "name": "N8N Backups",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        624,
        0
      ],
      "id": "7e861dea-0f8a-4499-bf54-debbbb980933",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0APED13E7K",
          "mode": "list",
          "cachedResultName": "n8n-backups"
        },
        "text": "={{ $('Calculate unique Date/Time and Folder Name').item.json.folderName }} - {{ $('Get unique Data of Workflows').item.json.fileName }} - {{ $json.error }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1488,
        96
      ],
      "id": "bf4cea54-7615-4653-921f-086c94b1973a",
      "name": "Send a message",
      "webhookId": "be4c425b-5261-4f0a-a955-59218f35ee8d",
      "credentials": {
        "slackApi": {
          "id": "tEzLAPd4cdYwh2Hu",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 22
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "5b820d31-c013-44a0-ba0d-0a91d0e49472",
      "name": "Schedule Daily 10pm"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3aa8b786-54bb-4f41-8424-67cd334709aa",
              "name": "folderName",
              "value": "=Backup_{{ $now.setZone('Asia/Karachi').format('yyyy-MM-dd T') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "1fce8844-121d-4647-90b3-5883602df641",
      "name": "Calculate unique Date/Time and Folder Name"
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        416,
        0
      ],
      "id": "81b47e12-0524-4537-afcd-a26b7cacc520",
      "name": "Get All the Workflows",
      "credentials": {
        "n8nApi": {
          "id": "ecyrAHbsiAoyD0RW",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "826c5fd3-ebfb-493b-a32f-61b08392f789",
              "name": "nodes",
              "value": "={{ JSON.stringify($json, nul, 2) }}",
              "type": "string"
            },
            {
              "id": "9a4d104c-14fe-45ad-968e-6ca27b218de7",
              "name": "fileName",
              "value": "={{ $json.name }}.json",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        864,
        0
      ],
      "id": "30e76b57-f4f6-4cf4-91e8-22e4e2b886c4",
      "name": "Get unique Data of Workflows"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "nodes",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1072,
        0
      ],
      "id": "481fe8eb-b52a-473b-a9ff-570fbcb2f36d",
      "name": "Convert into Files and Send"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Faisal110",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-sb-wf-backups",
          "mode": "list",
          "cachedResultName": "n8n-sb-wf-backups",
          "cachedResultUrl": "https://github.com/Faisal110/n8n-sb-wf-backups"
        },
        "filePath": "={{ $('Calculate unique Date/Time and Folder Name').item.json.folderName }}/{{ $('Get unique Data of Workflows').item.json.fileName }}",
        "binaryData": true,
        "commitMessage": "={{ $now.setZone('Asia/Karachi').format('yyyy-MM-dd') }} - {{ $('Get unique Data of Workflows').item.json.fileName }} - backup completed"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1280,
        0
      ],
      "id": "37158504-e4f1-4da2-9f8b-39a2048fa26a",
      "name": "Upload the File on Github",
      "webhookId": "4361abc2-2af7-411f-a0f3-68ca619ef3a3",
      "credentials": {
        "githubApi": {
          "id": "VwuYfWfRUahlbHPz",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "Faisal110",
          "mode": "list",
          "cachedResultName": "Faisal110",
          "cachedResultUrl": "https://github.com/Faisal110"
        },
        "repository": {
          "__rl": true,
          "value": "n8n-sb-wf-backups",
          "mode": "list",
          "cachedResultName": "n8n-sb-wf-backups",
          "cachedResultUrl": "https://github.com/Faisal110/n8n-sb-wf-backups"
        },
        "filePath": "={{ $('Calculate unique Date/Time and Folder Name').item.json.folderName }}/README.md",
        "fileContent": "=# N8N Workflow Backup - {{ $('Calculate unique Date/Time and Folder Name') }}\nThis above folder contains the backup of all the N8N Workflows as of {{ $now.setZone('Asia/Karachi').format('yyyy-MM-dd') }}\n\n\n## Backup Details\n- Backup Time : {{ $now.setZone('Asia/Karachi').format('yyyy-MM-dd T') }}\n- Total Workflows : {{ $('Get All the Workflows').all().length }}\n\n\n## Files\n- Each Workflow is saved as a seperate JSON file with the format",
        "commitMessage": "Readme File Updated"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        864,
        -208
      ],
      "id": "35eab252-b71d-46bd-9be5-27e5f96f0d16",
      "name": "Create a file",
      "webhookId": "5f584874-0e55-438f-9c64-a5670336c53a",
      "credentials": {
        "githubApi": {
          "id": "VwuYfWfRUahlbHPz",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Create a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get unique Data of Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Daily 10pm": {
      "main": [
        [
          {
            "node": "Calculate unique Date/Time and Folder Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate unique Date/Time and Folder Name": {
      "main": [
        [
          {
            "node": "Get All the Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All the Workflows": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get unique Data of Workflows": {
      "main": [
        [
          {
            "node": "Convert into Files and Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert into Files and Send": {
      "main": [
        [
          {
            "node": "Upload the File on Github",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload the File on Github": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3f87728a-ec77-46f6-adca-529166fdb4b0",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-30T11:19:06.237Z",
      "createdAt": "2026-03-30T11:19:06.237Z",
      "role": "workflow:owner",
      "workflowId": "quGjeVuoArjI8R1f",
      "projectId": "1KoM0NN3xU52WnYD"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2026-03-26T11:13:41.311Z",
      "createdAt": "2026-03-26T11:13:41.311Z",
      "id": "e66DJWiDxOlKFVbU",
      "name": "N8N"
    }
  ]
}