Backup_2026-04-25 07:00/Claims-Pipeline.json
{
  "updatedAt": "2026-04-15T13:29:12.071Z",
  "createdAt": "2026-02-27T10:17:14.316Z",
  "id": "R6uCUU3eQMksAVyy",
  "name": "Claims-Pipeline",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AF2ARFSLB",
          "mode": "list",
          "cachedResultName": "opd-claims-notification"
        },
        "text": "={{ $json.formattedText }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        880,
        208
      ],
      "id": "71e6a8b8-fc4d-4bdf-9124-b077fce2108e",
      "name": "Send Slack Notification",
      "webhookId": "238ffe20-4c59-43ee-8a2b-5fbb1d735473",
      "credentials": {
        "slackApi": {
          "id": "tEzLAPd4cdYwh2Hu",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "0555807d-5266-4ce9-89d1-141a86d3e36f",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -416,
        208
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    oc.id AS \"Claim ID\",\n    se.first_name AS \"Claimaint Name\",\n    sc.name AS \"Claimaint Corporate\",\n    oc.created_at AS \"Claim Created Date\",\n    oc.modified_at AS \"Claim Modified Date\",\n    ocs.name AS \"Claim Stage\",\n    oc.claim_type AS \"Claim Type\",\n    oc.claim_for AS \"Who's Claim for\",\n    oc.symptoms AS \"Claim Details\",\n    ABS(DATEDIFF(oc.modified_at, NOW())) AS \"Difference B/W Last modified till Now\"\nFROM opd_claim oc\nJOIN opd_claimstage ocs ON oc.stage_id = ocs.id\nJOIN opd_employee oe ON oe.id = oc.employee_id\nJOIN smartbenefits_employee se ON se.id = oe.opd_sb_employee_id\nJOIN smartbenefits_corporate sc on sc.id = se.corporate_id\nJOIN smartbenefits_corporate_product_plan scpp ON scpp.plan_id = oc.pool_id\nWHERE \n\tscpp.product_id = 1\n\tAND scpp.policy_end > now()\n    AND ocs.id = 1\n    AND oc.checker_user_id is not null\n    AND oc.modified_user_id = oc.checker_user_id\n    AND se.corporate_id <> 34\n    AND oc.modified_at > oc.created_at\n    AND oc.modified_at <= NOW() - INTERVAL 7 DAY\nORDER BY oc.created_at ASC;",
        "options": {}
      },
      "id": "37dca057-636d-4ec7-b803-a6da4924af67",
      "name": "OPD claims created and assigned but not update within 7 days",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        0,
        208
      ],
      "credentials": {
        "mySql": {
          "id": "p2YO8Qyi1VhgVX0V",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    oc.id AS \"Claim ID\",\n    se.first_name AS \"Claimaint Name\",\n    sc.name AS \"Claimaint Corporate\",\n    oc.created_at AS \"Claim Created Date\",\n    oc.modified_at AS \"Claim Modified Date\",\n    ocs.name AS \"Claim Stage\",\n    oc.claim_type AS \"Claim Type\",\n    oc.claim_for AS \"Who's Claim for\",\n    oc.symptoms AS \"Claim Details\",\n    ABS(DATEDIFF(oc.modified_at, NOW())) AS \"Difference B/W Last modified till Now\"\nFROM opd_claim oc\nJOIN opd_claimstage ocs ON oc.stage_id = ocs.id\nJOIN opd_employee oe ON oe.id = oc.employee_id\nJOIN smartbenefits_employee se ON se.id = oe.opd_sb_employee_id\nJOIN smartbenefits_corporate sc on sc.id = se.corporate_id\nJOIN smartbenefits_corporate_product_plan scpp ON scpp.plan_id = oc.pool_id\nWHERE \n\tscpp.product_id = 1\n\tAND scpp.policy_end > now()\n    AND ocs.id = 1\n    AND oc.modified_user_id = oc.created_user_id\n    AND oc.checker_user_id is null\n    AND se.corporate_id <> 34\n    AND oc.created_at <= NOW() - INTERVAL 7 DAY\n    AND oc.modified_at > oc.created_at\n    AND oc.modified_at <= NOW() - INTERVAL 7 DAY\nORDER BY oc.created_at ASC;",
        "options": {}
      },
      "id": "2236b9a7-9941-40cd-b341-f3205ae7836e",
      "name": "OPD claims created and not assigned and not update within 7 days",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        0,
        0
      ],
      "credentials": {
        "mySql": {
          "id": "p2YO8Qyi1VhgVX0V",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Claims Stage is \"Document uploaded\" and not updated more then 7 days\nSELECT \n    oc.id AS \"Claim ID\",\n    se.first_name AS \"Claimaint Name\",\n    sc.name AS \"Claimaint Corporate\",\n    oc.created_at AS \"Claim Created Date\",\n    oc.modified_at AS \"Claim Modified Date\",\n    ocs.name AS \"Claim Stage\",\n    oc.claim_type AS \"Claim Type\",\n    oc.claim_for AS \"Who's for Claim\",\n    oc.symptoms AS \"Claim Details\",\n    ABS(DATEDIFF(oc.modified_at, NOW())) AS \"Difference B/W Last modified till Now\"\nFROM opd_claim oc\nJOIN opd_claimstage ocs ON oc.stage_id = ocs.id\nJOIN opd_employee oe ON oe.id = oc.employee_id\nJOIN smartbenefits_employee se ON se.id = oe.opd_sb_employee_id\nJOIN smartbenefits_corporate sc on sc.id = se.corporate_id\nJOIN smartbenefits_corporate_product_plan scpp ON scpp.plan_id = oc.pool_id\nWHERE \n\tscpp.product_id = 1\n\tAND scpp.policy_end > now()\n    AND ocs.id = 18\n    AND se.corporate_id <> 34\n    AND oc.modified_at <= NOW() - INTERVAL 7 DAY\nORDER BY oc.created_at ASC;",
        "options": {}
      },
      "id": "71eed3ba-173e-41cb-8685-1fea56078f65",
      "name": "OPD claims in Document Uploaded Stage and not update within 7 days",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        0,
        416
      ],
      "credentials": {
        "mySql": {
          "id": "p2YO8Qyi1VhgVX0V",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "673752e0-8199-4702-8611-64d420f878f0",
              "leftValue": "={{ $items().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dfbe322b-35b3-4dc4-b3de-ec898f4d27d3",
      "name": "Check the Data - created and not assigned",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "673752e0-8199-4702-8611-64d420f878f0",
              "leftValue": "={{ $items().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "74fabe3e-b240-46c5-bc35-ef3420d5bc9d",
      "name": "Check the Data - created and assigned",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        208,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "let message = \"⚠️ *Claims in 'Created' Stage but (Inactive > 7 Days) and Assigned*\\n\\n\";\n\n// Loop through all results from MySQL\nconst list = $input.all().map(item => {\n    const claimId = item.json[\"Claim ID\"];\n    const emp_name = item.json[\"Claimaint Name\"];\n    const corp_name = item.json[\"Claimaint Corporate\"];\n    const url = `https://thor.smartchoice.pk/opd/claim/detail/${claimId}`;\n    const diff_bw_lst__mdf = item.json[\"Difference B/W Last modified till Now\"];\n    \n    return `• *Claim #${claimId} - <${url}|View Details>\\n (${emp_name}) - (${corp_name})\\n Last Modified: ${diff_bw_lst__mdf} Days Before`;\n}).join('\\n\\n');\n\nreturn {\n  formattedText: message + list\n};"
      },
      "id": "00097de7-3867-46f0-bd16-adbc55cf97d9",
      "name": "Convert into URL's - created and assigned",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        448,
        208
      ],
      "alwaysOutputData": false,
      "retryOnFail": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "let message = \"⚠️ *Claims in 'Created' Stage but (Inactive > 7 Days) and Not Assigned Yet*\\n\\n\";\n\n// Loop through all results from MySQL\nconst list = $input.all().map(item => {\n    const claimId = item.json[\"Claim ID\"];\n    const emp_name = item.json[\"Claimaint Name\"];\n    const corp_name = item.json[\"Claimaint Corporate\"];\n    const url = `https://thor.smartchoice.pk/opd/claim/detail/${claimId}`;\n    const diff_bw_lst__mdf = item.json[\"Difference B/W Last modified till Now\"];\n    \n    return `• Claim #${claimId} - <${url}|View Details>\\n (${emp_name}) - (${corp_name})\\n Last Modified: ${diff_bw_lst__mdf} Days Before`;\n}).join('\\n\\n');\n\nreturn {\n  formattedText: message + list\n};"
      },
      "id": "0aef2697-1732-40e5-863b-d10b247bb9ee",
      "name": "Convert into URL's - created and not assigned",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "alwaysOutputData": false,
      "retryOnFail": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "673752e0-8199-4702-8611-64d420f878f0",
              "leftValue": "={{ $items().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "118c7e5b-0949-4a13-8b52-3a4b9f3582f5",
      "name": "Check the Data - Document Uploaded Stage",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        208,
        416
      ]
    },
    {
      "parameters": {
        "jsCode": "let message = \"⚠️ *Claims in 'Document Uploaded' Stage but (Inactive > 7 Days) and Assigned*\\n\\n\";\n\n// Loop through all results from MySQL\nconst list = $input.all().map(item => {\n    const claimId = item.json[\"Claim ID\"];\n    const emp_name = item.json[\"Claimaint Name\"];\n    const corp_name = item.json[\"Claimaint Corporate\"];\n    const url = `https://thor.smartchoice.pk/opd/claim/detail/${claimId}`;\n    const diff_bw_lst__mdf = item.json[\"Difference B/W Last modified till Now\"];\n    \n    return `• *Claim #${claimId} - <${url}|View Details>\\n (${emp_name}) - (${corp_name})\\n Last Modified: ${diff_bw_lst__mdf} Days Before`;\n}).join('\\n\\n');\n\nreturn {\n  formattedText: message + list\n};"
      },
      "id": "c4621011-9d2c-44df-bba1-4539c3b0c795",
      "name": "Convert into URL's - Document Uploaded Stage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        448,
        416
      ]
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "OPD claims created and not assigned and not update within 7 days",
            "type": "main",
            "index": 0
          },
          {
            "node": "OPD claims in Document Uploaded Stage and not update within 7 days",
            "type": "main",
            "index": 0
          },
          {
            "node": "OPD claims created and assigned but not update within 7 days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OPD claims created and not assigned and not update within 7 days": {
      "main": [
        [
          {
            "node": "Check the Data - created and not assigned",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OPD claims in Document Uploaded Stage and not update within 7 days": {
      "main": [
        [
          {
            "node": "Check the Data - Document Uploaded Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OPD claims created and assigned but not update within 7 days": {
      "main": [
        [
          {
            "node": "Check the Data - created and assigned",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check the Data - created and not assigned": {
      "main": [
        [
          {
            "node": "Convert into URL's - created and not assigned",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check the Data - created and assigned": {
      "main": [
        [
          {
            "node": "Convert into URL's - created and assigned",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert into URL's - created and assigned": {
      "main": [
        [
          {
            "node": "Send Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert into URL's - created and not assigned": {
      "main": [
        [
          {
            "node": "Send Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check the Data - Document Uploaded Stage": {
      "main": [
        [
          {
            "node": "Convert into URL's - Document Uploaded Stage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert into URL's - Document Uploaded Stage": {
      "main": [
        [
          {
            "node": "Send Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Karachi",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Daily Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "3ecabfa2-dd9c-4ad1-a497-d11728e9a254",
  "activeVersionId": "3ecabfa2-dd9c-4ad1-a497-d11728e9a254",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-27T10:17:14.322Z",
      "createdAt": "2026-02-27T10:17:14.322Z",
      "role": "workflow:owner",
      "workflowId": "R6uCUU3eQMksAVyy",
      "projectId": "1KoM0NN3xU52WnYD"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-15T13:42:33.000Z",
    "createdAt": "2026-04-15T13:29:12.074Z",
    "versionId": "3ecabfa2-dd9c-4ad1-a497-d11728e9a254",
    "workflowId": "R6uCUU3eQMksAVyy",
    "nodes": [
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "C0AF2ARFSLB",
            "mode": "list",
            "cachedResultName": "opd-claims-notification"
          },
          "text": "={{ $json.formattedText }}",
          "otherOptions": {}
        },
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.3,
        "position": [
          880,
          208
        ],
        "id": "71e6a8b8-fc4d-4bdf-9124-b077fce2108e",
        "name": "Send Slack Notification",
        "webhookId": "238ffe20-4c59-43ee-8a2b-5fbb1d735473",
        "credentials": {
          "slackApi": {
            "id": "tEzLAPd4cdYwh2Hu",
            "name": "Slack account"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 9
              }
            ]
          }
        },
        "id": "0555807d-5266-4ce9-89d1-141a86d3e36f",
        "name": "Daily Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.1,
        "position": [
          -416,
          208
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    oc.id AS \"Claim ID\",\n    se.first_name AS \"Claimaint Name\",\n    sc.name AS \"Claimaint Corporate\",\n    oc.created_at AS \"Claim Created Date\",\n    oc.modified_at AS \"Claim Modified Date\",\n    ocs.name AS \"Claim Stage\",\n    oc.claim_type AS \"Claim Type\",\n    oc.claim_for AS \"Who's Claim for\",\n    oc.symptoms AS \"Claim Details\",\n    ABS(DATEDIFF(oc.modified_at, NOW())) AS \"Difference B/W Last modified till Now\"\nFROM opd_claim oc\nJOIN opd_claimstage ocs ON oc.stage_id = ocs.id\nJOIN opd_employee oe ON oe.id = oc.employee_id\nJOIN smartbenefits_employee se ON se.id = oe.opd_sb_employee_id\nJOIN smartbenefits_corporate sc on sc.id = se.corporate_id\nJOIN smartbenefits_corporate_product_plan scpp ON scpp.plan_id = oc.pool_id\nWHERE \n\tscpp.product_id = 1\n\tAND scpp.policy_end > now()\n    AND ocs.id = 1\n    AND oc.checker_user_id is not null\n    AND oc.modified_user_id = oc.checker_user_id\n    AND se.corporate_id <> 34\n    AND oc.modified_at > oc.created_at\n    AND oc.modified_at <= NOW() - INTERVAL 7 DAY\nORDER BY oc.created_at ASC;",
          "options": {}
        },
        "id": "37dca057-636d-4ec7-b803-a6da4924af67",
        "name": "OPD claims created and assigned but not update within 7 days",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          0,
          208
        ],
        "credentials": {
          "mySql": {
            "id": "p2YO8Qyi1VhgVX0V",
            "name": "MySQL account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT \n    oc.id AS \"Claim ID\",\n    se.first_name AS \"Claimaint Name\",\n    sc.name AS \"Claimaint Corporate\",\n    oc.created_at AS \"Claim Created Date\",\n    oc.modified_at AS \"Claim Modified Date\",\n    ocs.name AS \"Claim Stage\",\n    oc.claim_type AS \"Claim Type\",\n    oc.claim_for AS \"Who's Claim for\",\n    oc.symptoms AS \"Claim Details\",\n    ABS(DATEDIFF(oc.modified_at, NOW())) AS \"Difference B/W Last modified till Now\"\nFROM opd_claim oc\nJOIN opd_claimstage ocs ON oc.stage_id = ocs.id\nJOIN opd_employee oe ON oe.id = oc.employee_id\nJOIN smartbenefits_employee se ON se.id = oe.opd_sb_employee_id\nJOIN smartbenefits_corporate sc on sc.id = se.corporate_id\nJOIN smartbenefits_corporate_product_plan scpp ON scpp.plan_id = oc.pool_id\nWHERE \n\tscpp.product_id = 1\n\tAND scpp.policy_end > now()\n    AND ocs.id = 1\n    AND oc.modified_user_id = oc.created_user_id\n    AND oc.checker_user_id is null\n    AND se.corporate_id <> 34\n    AND oc.created_at <= NOW() - INTERVAL 7 DAY\n    AND oc.modified_at > oc.created_at\n    AND oc.modified_at <= NOW() - INTERVAL 7 DAY\nORDER BY oc.created_at ASC;",
          "options": {}
        },
        "id": "2236b9a7-9941-40cd-b341-f3205ae7836e",
        "name": "OPD claims created and not assigned and not update within 7 days",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          0,
          0
        ],
        "credentials": {
          "mySql": {
            "id": "p2YO8Qyi1VhgVX0V",
            "name": "MySQL account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "-- Claims Stage is \"Document uploaded\" and not updated more then 7 days\nSELECT \n    oc.id AS \"Claim ID\",\n    se.first_name AS \"Claimaint Name\",\n    sc.name AS \"Claimaint Corporate\",\n    oc.created_at AS \"Claim Created Date\",\n    oc.modified_at AS \"Claim Modified Date\",\n    ocs.name AS \"Claim Stage\",\n    oc.claim_type AS \"Claim Type\",\n    oc.claim_for AS \"Who's for Claim\",\n    oc.symptoms AS \"Claim Details\",\n    ABS(DATEDIFF(oc.modified_at, NOW())) AS \"Difference B/W Last modified till Now\"\nFROM opd_claim oc\nJOIN opd_claimstage ocs ON oc.stage_id = ocs.id\nJOIN opd_employee oe ON oe.id = oc.employee_id\nJOIN smartbenefits_employee se ON se.id = oe.opd_sb_employee_id\nJOIN smartbenefits_corporate sc on sc.id = se.corporate_id\nJOIN smartbenefits_corporate_product_plan scpp ON scpp.plan_id = oc.pool_id\nWHERE \n\tscpp.product_id = 1\n\tAND scpp.policy_end > now()\n    AND ocs.id = 18\n    AND se.corporate_id <> 34\n    AND oc.modified_at <= NOW() - INTERVAL 7 DAY\nORDER BY oc.created_at ASC;",
          "options": {}
        },
        "id": "71eed3ba-173e-41cb-8685-1fea56078f65",
        "name": "OPD claims in Document Uploaded Stage and not update within 7 days",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.4,
        "position": [
          0,
          416
        ],
        "credentials": {
          "mySql": {
            "id": "p2YO8Qyi1VhgVX0V",
            "name": "MySQL account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "673752e0-8199-4702-8611-64d420f878f0",
                "leftValue": "={{ $items().length }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "dfbe322b-35b3-4dc4-b3de-ec898f4d27d3",
        "name": "Check the Data - created and not assigned",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          208,
          0
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "673752e0-8199-4702-8611-64d420f878f0",
                "leftValue": "={{ $items().length }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "74fabe3e-b240-46c5-bc35-ef3420d5bc9d",
        "name": "Check the Data - created and assigned",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          208,
          208
        ]
      },
      {
        "parameters": {
          "jsCode": "let message = \"⚠️ *Claims in 'Created' Stage but (Inactive > 7 Days) and Assigned*\\n\\n\";\n\n// Loop through all results from MySQL\nconst list = $input.all().map(item => {\n    const claimId = item.json[\"Claim ID\"];\n    const emp_name = item.json[\"Claimaint Name\"];\n    const corp_name = item.json[\"Claimaint Corporate\"];\n    const url = `https://thor.smartchoice.pk/opd/claim/detail/${claimId}`;\n    const diff_bw_lst__mdf = item.json[\"Difference B/W Last modified till Now\"];\n    \n    return `• *Claim #${claimId} - <${url}|View Details>\\n (${emp_name}) - (${corp_name})\\n Last Modified: ${diff_bw_lst__mdf} Days Before`;\n}).join('\\n\\n');\n\nreturn {\n  formattedText: message + list\n};"
        },
        "id": "00097de7-3867-46f0-bd16-adbc55cf97d9",
        "name": "Convert into URL's - created and assigned",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          448,
          208
        ],
        "alwaysOutputData": false,
        "retryOnFail": false,
        "executeOnce": false
      },
      {
        "parameters": {
          "jsCode": "let message = \"⚠️ *Claims in 'Created' Stage but (Inactive > 7 Days) and Not Assigned Yet*\\n\\n\";\n\n// Loop through all results from MySQL\nconst list = $input.all().map(item => {\n    const claimId = item.json[\"Claim ID\"];\n    const emp_name = item.json[\"Claimaint Name\"];\n    const corp_name = item.json[\"Claimaint Corporate\"];\n    const url = `https://thor.smartchoice.pk/opd/claim/detail/${claimId}`;\n    const diff_bw_lst__mdf = item.json[\"Difference B/W Last modified till Now\"];\n    \n    return `• Claim #${claimId} - <${url}|View Details>\\n (${emp_name}) - (${corp_name})\\n Last Modified: ${diff_bw_lst__mdf} Days Before`;\n}).join('\\n\\n');\n\nreturn {\n  formattedText: message + list\n};"
        },
        "id": "0aef2697-1732-40e5-863b-d10b247bb9ee",
        "name": "Convert into URL's - created and not assigned",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          448,
          0
        ],
        "alwaysOutputData": false,
        "retryOnFail": false,
        "executeOnce": false
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "673752e0-8199-4702-8611-64d420f878f0",
                "leftValue": "={{ $items().length }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "118c7e5b-0949-4a13-8b52-3a4b9f3582f5",
        "name": "Check the Data - Document Uploaded Stage",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          208,
          416
        ]
      },
      {
        "parameters": {
          "jsCode": "let message = \"⚠️ *Claims in 'Document Uploaded' Stage but (Inactive > 7 Days) and Assigned*\\n\\n\";\n\n// Loop through all results from MySQL\nconst list = $input.all().map(item => {\n    const claimId = item.json[\"Claim ID\"];\n    const emp_name = item.json[\"Claimaint Name\"];\n    const corp_name = item.json[\"Claimaint Corporate\"];\n    const url = `https://thor.smartchoice.pk/opd/claim/detail/${claimId}`;\n    const diff_bw_lst__mdf = item.json[\"Difference B/W Last modified till Now\"];\n    \n    return `• *Claim #${claimId} - <${url}|View Details>\\n (${emp_name}) - (${corp_name})\\n Last Modified: ${diff_bw_lst__mdf} Days Before`;\n}).join('\\n\\n');\n\nreturn {\n  formattedText: message + list\n};"
        },
        "id": "c4621011-9d2c-44df-bba1-4539c3b0c795",
        "name": "Convert into URL's - Document Uploaded Stage",
        "type": "n8n-nodes-base.code",
        "typeVersion": 1,
        "position": [
          448,
          416
        ]
      }
    ],
    "connections": {
      "Daily Trigger": {
        "main": [
          [
            {
              "node": "OPD claims created and not assigned and not update within 7 days",
              "type": "main",
              "index": 0
            },
            {
              "node": "OPD claims in Document Uploaded Stage and not update within 7 days",
              "type": "main",
              "index": 0
            },
            {
              "node": "OPD claims created and assigned but not update within 7 days",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OPD claims created and not assigned and not update within 7 days": {
        "main": [
          [
            {
              "node": "Check the Data - created and not assigned",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OPD claims in Document Uploaded Stage and not update within 7 days": {
        "main": [
          [
            {
              "node": "Check the Data - Document Uploaded Stage",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OPD claims created and assigned but not update within 7 days": {
        "main": [
          [
            {
              "node": "Check the Data - created and assigned",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check the Data - created and not assigned": {
        "main": [
          [
            {
              "node": "Convert into URL's - created and not assigned",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check the Data - created and assigned": {
        "main": [
          [
            {
              "node": "Convert into URL's - created and assigned",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert into URL's - created and assigned": {
        "main": [
          [
            {
              "node": "Send Slack Notification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert into URL's - created and not assigned": {
        "main": [
          [
            {
              "node": "Send Slack Notification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check the Data - Document Uploaded Stage": {
        "main": [
          [
            {
              "node": "Convert into URL's - Document Uploaded Stage",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert into URL's - Document Uploaded Stage": {
        "main": [
          [
            {
              "node": "Send Slack Notification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "N8N Smartbenefits",
    "name": "opd-claim-pipeline-v4",
    "description": "change the time from 11am to 9am",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2026-02-27T10:17:12.470Z",
      "createdAt": "2026-02-27T10:17:12.470Z",
      "id": "mJJmyby3XvUSqILm",
      "name": "OPD"
    }
  ]
}